// GLOBAL

html {
    font-size: 62.5%;
}

.body {
    display: grid;
    grid-template-columns: 
    minmax(6rem, 1fr)
    [start]
    repeat(8, minmax(min-content, 14rem))
    [end]
    minmax(6rem, 1fr);
    @media screen and (max-width: 1199px) {
        grid-template-columns: 
        [start]
        repeat(8, minmax(min-content, 14rem))
        [end]
    }
    .gallery {
        grid-column: start / end;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 1.5rem;
        padding: 1.5rem;
        @media screen and (max-width: 1199px) {
            grid-gap: 0.5rem;
            padding: 1rem;
        }
        .galleryImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__item1 {
            grid-area: 1 / 1 / 3 / 3;
        }
        &__item2 {
            // grid-column: 1 / span 3;
            // grid-row: 3 / span 2;
            grid-area: 3 / 1 / 5 / 4;
            // grid-area: grid-row-start / grid-column-start / grid row-end / grid-column-end;
        }
        &__item3 {
            grid-area: 1 / 3 / 3 / 5;
        }
        &__item4 {
            grid-area: 1 / 5 / 4 / 8;
        }
        &__item5 {
            grid-area: 5 / 2 / 7 / 4;
        }
        &__item6 {
            grid-area: 3 / 4 / 4 / 5;
        }
        &__item7 {
            grid-area: 7 / 2 / 9 / 4;
        }
        &__item8 {
            grid-area: 6 / 7 / 9 / 9;
        }
        &__item9 {
            grid-area: 4 / 6 / 6 / 8;
        }
        &__item10 {
            grid-area: 1 / 8 / 4 / 9;
        }
        &__item11 {
            grid-area: 5 / 1 / 9 / 2;
        }
        &__item12 {
            grid-area: 4 / 4 / 9 / 6;
        }
        &__item13 {
            grid-area: 4 / 8 / 6 / 9;
        }
        &__item14 {
            grid-area: 6 / 6 / 9 / 7;
        }
    }
}
